@charset "UTF-8";

 /* contents영역 */
    div.contents-wrap{
      overflow: hidden;
      width:80%;
      height: auto;
      margin: auto;
    }

    section{
      float:left;
      width:80%;
      padding:30px;
      border-right:1px solid#EDEDED;
    }

   /* 글쓰기 작성 */
   input[type=text], textarea{
      width:90%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    label{
      padding: 12px 12px 12px 0;
      display: inline-block;
    }
    .row_value{
      margin-top: 10px;
      width:90%;
    }

    .write_button{
      width: 70px;
      padding: 7px;
      border: none;
      background:gold;
      margin-top: 20px;
      transition: 0.2s;
    }
    .write_button:hover{
      color:#fff;
    }
    #back{
      float: left;
    }
    #save{
      float:right;
    }