@charset "UTF-8";
	
  * {
      margin:0;
      padding:0;
      box-sizing:border-box;
      }

    body{
      font: Arial, Helvetica, sans-serif;
      font-size:15px;
      font-weight: bold;
      letter-spacing: -1px;
      color: black;
    }
    
/* 화면 서브타이틀 부분 */
    div.title {
      height: 100px;
      background: #EDEDED;
      text-align: center;
      line-height: 100px;
      font-size: 20px;
    }

    /* contents-wrap-콘텐츠 영역 너비설정 */
    div.contents-wrap {
      overflow: hidden;
      width: 80%;
      height: auto;
      margin: auto;
    }

    section {
      float: left;
      width: 80%;
      height: auto;
      padding: 30px;
      border-right: 1px solid#EDEDED;
    }

    /* 글제목 */
    #post_head {
      padding: 25px;
      font-size: 18px;
    }

    /* 글서브타이틀 */
    section div#post_subtitle {
      height: 50px;
      background: #ededed;
      font-weight: lighter;
    }

    section div#post_subtitle span {
      padding: 20px;
      line-height: 50px;
    }

    #post_content {
      padding: 20px;
      font-weight: lighter;
    }

    /* 댓글창 */
    #post_comment {
      background: #ededed;
      padding: 20px;
    }

    div.comment {
      padding: 10px;
      border-top: 1px dotted black;
      font-weight: lighter;
    }

    /* 댓글 작성자 */
    div.comment span {
      margin: 5px;
    }

    /* 댓글내용 */
    div.comment div {
      margin: 10px;
    }

    /* 답글,입력버튼 */
    #post_comment button {
      border: none;
      background: gold;
      padding: 5px;
      transition: 0.2s;
    }

    #post_comment button:hover {
      color: #fff;
    }

    /* 댓글 작성 창 */
    div.comment_write {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    div.comment_write button {
      margin-left: 10px;
    }

    #post_comment textarea {
      width: 80%;
      height: 70px;
    }
