@charset "UTF-8";

 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font: Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: -1px;
      color: black;
    }
 /* 화면 서브타이틀 부분 */
    div.title {
      height: 100px;
      background: #EDEDED;
      text-align: center;
      line-height: 100px;
      font-size: 20px;
    }

    /* contents-wrap-콘텐츠 영역 너비설정 */
    div.contents-wrap {
      overflow: hidden;
      width: 80%;
      height: auto;
      margin: auto;
    }

    section {
      float: left;
      width: 80%;
      height: auto;
      padding: 30px;
      border-right: 1px solid#EDEDED;
      text-align: center;
    }
    section div{
      margin-bottom:50px;
    }

     /* 유저 수정정보 기입     */
    .updateinfo ul{
      list-style:none;
    }
    .updateinfo ul li{
      margin:8px 0;
    }

    input[type],
    select {
      width: 400px;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }

    #birth {
      display: flex;
      justify-content: space-between;
    }

    input[type].birth {
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      width: 100px;
    }


    /* 버튼 크기 조정 */
    /* 중복확인 */
    button {
      border: none;
      border-radius: 5px;
      width: 150px;
      font-weight: bolder;
      font-size: 16px;
      padding: 10px;
      
      background: gold;
      transition: 0.2s;
    }

    button:hover {
      color: #fff;
    }
    