@charset "UTF-8";
    
 /* contents영역 */
    div.contents-wrap{
      overflow: hidden;
      width:80%;
      height: auto;
      margin: auto;
    }

    /* 최신/인기글 영역 */
    section{
      float:left;
      width:80%;
      padding:30px;
      border-right:1px solid#EDEDED;
    }
    section article{
      width:90%;
      margin: 40px auto;
    }

    /* 최신/인기글 영역 탭버튼 */
    section article .tab_btn{
      width: 100px;
      text-align: center;
      padding:5px;
      border-radius: 5px 5px 0 0;
      border:1px solid #ededed;
      margin-right: -7px;
    }

    section article .tab_btn a{
      text-decoration: none;
      font-weight: bolder;
      font-size: 17px;
      color: black;
      transition: 0.2s;
    }

    section article .tab_btn a:hover{
      color:gold;
    }
    /* 최신/인기글 탭설정 */
    section article .tab{
      border: 1px solid #ededed;
    }

    section article .tab a{
      display: block;
      color:black;
      font-weight: lighter;
      font-size:14px;
      text-decoration: none;
      margin:10px;
      border-bottom: 1px solid #ededed;
    }
    section article .tab a:last-of-type{
      border:none;
    }

   