@charset "UTF-8";

 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font: Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: -1px;
      color: black;
    }

/* 화면 서브타이틀 부분 */
    div.title {
      height: 100px;
      background: #EDEDED;
      text-align: center;
      line-height: 100px;
      font-size: 20px;
    }

    /* contents-wrap-콘텐츠 영역 너비설정 */
    div.contents-wrap {
      overflow: hidden;
      width: 80%;
      height: auto;
      margin: auto;
    }

    section {
      float: left;
      width: 80%;
      height: 600px;
      padding: 30px;
      border-right: 1px solid#EDEDED;
      text-align: center;
    }

    /*비밀번호 확인 문구*/
    section p{
      margin:80px;
      font-size: 17px;
    }
    
    /*비밀번호 입력*/
    section form input[type=password]{
      width: 40%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      font-size: 16px;
      padding: 10px;
      margin: 5px auto;
    }
    section form input[type=submit]{
      width: 40%;
      border: none;
      font-weight: bolder;
      font-size: 16px;
      padding: 10px;
      margin-top: 20px;
      transition: 0.2s;
    }
    section form input[type=submit]:hover {
      background-color: #ccc;
    }
    