@charset "UTF-8";
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font: Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: -1px;
      background: #ededed;
    }

    /* 로고영역 */
    header {
      height: 50px;
      text-align: center;
      padding: 50px;
      margin-bottom: 40px;
    }

    header a {
      text-decoration: none;
      line-height: 100px;
      color: gold;
      font-size: 60px;
      font-weight: bolder;
    }

    /* 콘텐츠 영역 너비 지정 */
    section {
      width: 30%;
      height: 900px;
      padding: 70px;
      margin: auto;
    }

    /* 유저 가입정보 기입     */
    input[type],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }

    #birth {
      display: flex;
      justify-content: space-between;
    }

    input[type].birth {
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      width: 100px;
    }

    /* 버튼 크기 조정 */
    /* 중복확인 */
    button {
      border: none;
      border-radius: 5px;
      width: 150px;
      font-weight: bolder;
      font-size: 16px;
      padding: 10px;
      margin-bottom: 20px;
      background: gold;
      transition: 0.2s;
    }

    /* 가입하기 버튼 */
    button#all_submit {
      width: 100%;
      padding: 20px;
      margin-bottom: 100px;
    }

    button:hover {
      color: #fff;
    }